<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../src/app.css">
<body>
    <div id="foot">
       <i> <h3>created by bikalpa</h3>
        <p style="font-size: 16px; margin-top:9px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta commodi maxime rem natus consequatur voluptates magni corrupti tenetur! Impedit labore porro minima laudantium voluptatem id blanditiis magni accusantium sequi commodi iste libero eos dolore laborum obcaecati placeat beatae in quam fuga facere neque sint illo, non voluptates? Quia, harum.</p>
   
   </i> </div>
</body>
</html>