<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<link rel="stylesheet" href="../src/app.css">
<body>
    <div id = 'flex'>
        <center><h1>More Info</h1> </center>
     <h4 style="padding:3px; margin-top:12px; font-size:larger;">London ipsum, dolor sit amet consectetur adipisicing elit. Pariatur recusandae tempore maiores veniam delectus provident perferendis reprehenderit quibusdam aut fuga incidunt voluptatem enim impedit excepturi cum temporibus esse odio, accusamus similique inventore quae deleniti itaque optio sed! Quasi laudantium aliquam dolorum, alias, illo voluptatum explicabo voluptatibus, quo voluptatem enim cupiditate optio et dignissimos aperiam a aut possimus rerum excepturi error nulla modi iste esse ratione. Unde corrupti expedita, beatae iusto architecto molestias natus! Saepe repudiandae alias veniam sed eveniet recusandae ipsa beatae fuga amet, consequuntur repellat dolores! Iusto, officia voluptatibus odit deleniti omnis maxime? Sint, totam illum qui officia possimus atque natus voluptas fugiat itaque vitae ipsa laborum facere voluptatum ex laudantium impedit aliquid ab, dolor error nobis quos repudiandae. Nobis.</h4>
    </div>
</body>
</html>