<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../app.css">
<body>
    <nav>
        <ul>
             <a href="/"><li>home</li></a>
             <a href="/aboutus"><li>about</li></a>
             <a href="/contact"><li>contact</li></a>
             <a href="/more"><li>more</li></a>
        </ul>
    </nav>
</body>
</html>