<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../src/app.css">
<body>
    {{>nav}}

    <h1 style="text-align:center; margin-top:21px ; text-transform:capitalize;">we provide full {{city}} trip plan </h1>
    <img src="https://images.pexels.com/photos/220887/pexels-photo-220887.jpeg?auto=compress&cs=tinysrgb&w=800" alt="" style="opacity: 1; height:481px; width:full; padding:21px;">
    <p style='width:full; padding-left:21px; padding-right:21px; margin-bottom :3px; font-size:larger;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, exercitationem ratione obcaecati ipsa quam ut, animi officia beatae in unde itaque, expedita perferendis atque vitae cumque voluptate vel eos facere sint nemo reiciendis. Animi, nesciunt. Qui impedit, ipsa amet esse temporibus eos, harum, officiis dignissimos incidunt quia et odio illo autem ut aut sapiente eius necessitatibus officia magnam. Aut voluptates quas sint quod eum pariatur voluptate debitis saepe sequi illum id, rerum excepturi, temporibus, tempora fugit commodi. Sapiente nobis distinctio quidem facilis eius tempore, reiciendis consequuntur. Neque explicabo, possimus excepturi assumenda nulla modi nobis dolor autem omnis obcaecati aut sint in architecto, accusamus iure aliquam aperiam a vel rerum eius voluptates odio nihil sequi? Fugiat maxime libero non quia ipsam iusto nobis alias hic quisquam quibusdam explicabo ratione minus impedit voluptatem, vel enim eaque magnam deleniti totam laboriosam, cum vero in odio porro? Voluptate commodi reprehenderit quam nobis reiciendis.</p>
{{>footer}}
</body>
</html>