<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../src/app.css">
<body>
    {{>nav}}
     <form action="" style="margin-left: 21%; margin-top:3%;">
        <p style="display:flex; justify-content:space-between; margin-bottom:9px; width:300px;"><span style="width:199px"> name : </span><input type="text" style="height:35px;"></p>
        <p style="display:flex; justify-content:space-between; margin-bottom:9px; width:300px;"><span style="width:199px"> address :</span>  <input type="text" style="height:35px;"></p>
        <p style="display:flex; justify-content:space-between; margin-bottom:9px; width:300px;"><span style="width:199px"> contact no :</span> <input type="number" style="height:35px;"></p>
        <p style="display:flex; justify-content:space-between; margin-bottom:9px; width:300px;"><span style="width:199px"> email :</span> <input type="email" style="height:35px;"></p>
         <p>  <button style="font-size: x-large; padding:7px; margin-left:121px;">submit</button> </p>
     </form>
     {{>footer}}
</body>
</html>