<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="./src/app.css">
<body>
   {{>nav}}
    <div>
        <img src="https://images.pexels.com/photos/18721030/pexels-photo-18721030/free-photo-of-church-tower-behind-trees.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" alt="">
        <div id="decs">
            <p>{{place}}</p>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro incidunt vel, adipisci consectetur amet tenetur nesciunt quasi voluptatum commodi dignissimos maxime.</h3>
        </div>
    </div>
{{>info}}
{{>footer}}
</body>
</html>