<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/app.css">
</head>
<body>
    {{>nav}}
    {{>info}}
   <div>
    <p style="font-size: larger;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic sint quibusdam a repellat iusto, deleniti ipsam voluptatum dignissimos quae, dolorem assumenda quidem placeat nisi cumque, voluptatibus aliquid. Fugiat quasi, odio omnis nihil perferendis facere voluptate odit, inventore, dignissimos exercitationem incidunt! Voluptas est id facilis in rerum omnis, cumque consequuntur, aliquid neque rem nobis corporis temporibus aspernatur eius incidunt ipsum necessitatibus perspiciatis? Modi maiores autem inventore facilis culpa consequuntur, porro dolor ipsa aperiam obcaecati, tempore, quo quia quaerat totam placeat. Esse corporis sit eaque odio maxime deleniti aperiam ex molestiae autem ipsum eum ut quidem rem eveniet facilis laboriosam, consequuntur dolorum voluptatem optio nesciunt officiis debitis! Quia necessitatibus architecto ad et voluptate at cupiditate harum sed reprehenderit illo doloremque, aliquid ducimus quaerat nihil consequatur sunt voluptatibus sint nemo autem eaque explicabo unde magnam, excepturi modi. Veritatis quam nihil vero veniam quaerat, provident blanditiis dicta voluptatum nesciunt quasi nobis qui rerum hic aut et. Necessitatibus asperiores quibusdam illum, voluptatem vel sed praesentium facere laboriosam sit quam quia veritatis fugiat, earum adipisci aperiam culpa quo ut neque vero pariatur incidunt ipsam non nesciunt assumenda. Iure aperiam perspiciatis dignissimos vitae quasi voluptatum ea architecto culpa, dicta labore laudantium enim dolor saepe sequi rem nam excepturi optio laborum ipsam, ab consequatur accusamus, quo nemo? Sapiente accusamus perferendis doloribus nihil. Officiis corporis id facilis accusamus debitis similique sit nesciunt nihil? Aliquam eum asperiores quasi enim eaque distinctio et magnam, itaque minima odio sed id quidem nostrum quas temporibus nemo! Pariatur eaque odio laudantium. Tempore quod ipsa sunt aliquid pariatur id esse enim molestias, consectetur et quia eaque tenetur, consequatur dolorum dolor. Tempora ipsum quis sapiente labore et eaque molestiae exercitationem nam porro neque fugiat eos fugit itaque quasi autem, vel debitis aliquid saepe possimus deleniti ab quo nisi. Facere quasi odio quam quae, cupiditate ab laboriosam?</p>
    <br><p style="font-size:larger;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, doloribus? Quod sint possimus ratione quasi dignissimos aliquid deleniti labore voluptatum, soluta, quas fugiat, vel totam delectus. Consequatur corporis similique aspernatur deleniti inventore impedit praesentium sit dolore, itaque reprehenderit fugiat nisi cumque harum. Nemo, beatae a omnis magni temporibus suscipit ut ducimus cupiditate! Necessitatibus nam maxime dolores exercitationem quidem! Suscipit iste, dolorum ut similique quo quidem aliquam? Vel nisi, quisquam pariatur iusto iure consectetur exercitationem minus. Blanditiis quisquam similique labore quaerat maxime.</p>
   </div>
   {{>footer}}
</body>
</html>